# 4.8 Grouping Data & Aggregating Variables

### 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Turn project folder into path

path = r'/Users/lucerovargas/Documents/Data Analysis/Achievement 4- Python Fundamentals/12.2022 Instacart Basket Analysis'

In [3]:
# Import "cleaned_orders_products_combined" pkl into Jupyter dataframe as ords_prods_merged

ords_prods_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'cleaned_orders_products_combined.pkl'))

### 2. In this Exercise, you learned how to find the aggregated mean of the "order_number" column grouped by "department_id" for a subset of your dataframe. Now, repeat this process for the entire dataframe

In [4]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders

In [5]:
ords_prods_merged.shape

(32404859, 19)

In [6]:
ords_prods_merged.groupby('department_id')

In [7]:
# find the aggregated mean of order_numbers by deparment_id
ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [8]:
ords_prods_merged.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The results from the entire data frame differ from the subset slightly. They are really close in numbers sometimes they are only a number different.

### 4. Follow the instructions in this Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [9]:
# Create an aggregate max column named max_order

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10

In [11]:
# Create flag

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] > 10) & (ords_prods_merged['max_order'] <= 40), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer

In [13]:
# Check frequency

ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
# Review aggregation for customers

ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The new customer actually averages spending more money than the regular and loyal customer!

### 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

#### 
*If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

*If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# Create an aggregate average price column named average_price_spent

ords_prods_merged['average_price_spent'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# review df

ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_spent
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556

In [17]:
# Create a spending_flag with loc

ords_prods_merged.loc[ords_prods_merged['average_price_spent'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merged.loc[ords_prods_merged['average_price_spent'] >= 10, 'spending_flag'] = 'High spender'

In [18]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_spent,spending_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender

In [19]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

### 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

####

*If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

*If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

*If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [20]:
# Create an aggregate median column named frequent customers

ords_prods_merged['frequent_customers'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_spent,spending_flag,frequent_customers
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most Orders,22,Regular customer,3.980556,Low spender,10.0

In [22]:
# Create a frequency_flag with loc

ords_prods_merged.loc[ords_prods_merged['frequent_customers'] > 20, 'frequency_flag'] ='Non-frequent customer'
ords_prods_merged.loc[(ords_prods_merged['frequent_customers'] > 10) & (ords_prods_merged['frequent_customers'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['frequent_customers'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [23]:
# Review dataframe

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price_spent,spending_flag,frequent_customers,frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [24]:
ords_prods_merged['frequency_flag'].value_counts(dropna= False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [29]:
#code from 4.9 removing nan values over 100
ords_prods_merged.loc[ords_prods_merged['prices'] > 100, 'prices'] = np.nan

# Export dataframe

In [30]:
ords_prods_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products.pkl'))